<div class="step2">
    <h2>Step 2: Select the potency from the dropdown menu</h2>
</div>

<div>
    <select class="browser-default custom-select">
        <option selected>Click to Select Suspension Potency</option>
        <option value="1">125mg/5ml</option>
        <option value="2">200mg/5ml</option>
        <option value="3">250mg/5ml</option>
        <option value="3">400mg/5ml</option>
    </select>
</div>

<div>
    <h2>Step 3: Select dosing from the dropdown menu</h2>
</div>

<div>
    <select class="browser-default custom-select">
        <option selected>Click to Select the dosing.</option>
        <option value="1">If the child weighs greater than 40 kg (88 lbs) Do not continue and dose according to adult
            dosage</option>
        <option value="2">Child less than 3 months (12 weeks old) 30 mg/kg/day divided twice daily (every 12 hours)
        </option>
        <option value="3">Child greater than 3 months (12 weeks old) and less than 40 kg (88 lbs): Mild infection 25
            mg/kg/day divided twice daily (every 12 hours)</option>
        <option value="3">Child greater than 3 months (12 weeks old) and less than 40 kg (88 lbs): Severe infection 45
            mg/kg/day divided twice daily (every 12 hours)</option>
    </select>
</div>

<div>
    <h2>Step 4: Enter childs weight and specify from dropdown if it is in kg or lbs</h2>
</div>

<div>
    <input type="text" placeholder="Enter childs weight">
</div>

<div>
    <select class="browser-default custom-select">
        <option selected>Click to specify weight in lbs or kg</option>
        <option value="1"><label>lbs</label>
        </option>
        <option value="1"><label>kg</label>
        </option>
    </select>
</div>



