<div class="container-fluid p-3 mb-1 bg-dark text-white">
  <h1 class="logo">Pediatric Medication Dosing Calculator</h1>
</div>

<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/homepage']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/antibiotics']">Antibiotics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/analgesics']">Analgesics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/antihistamines']">Antihistamines</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/misc']">Misc</a>
    </li>
  </ul>
</div>