<div class="p-3 pb-5 mb-0 bg-light">
    <h1 class="text-primary">About this calculator</h1>
    <p>
        This calculator was created to assist myself (a licensed medical provider) in clinical practice to easily and
        accurately dose and
        prescribe medications for pediatric patients. Due to the availability on the internet anybody who stumbles upon
        this will be able to use this.
        If you happen to stumble upon this calculator and decide to use this please read everything below carefully.
        To use this calculator please follow the steps highlighted in red.
    </p>
    <p>
        The steps highlighted in red are very important! Please read and follow each and every step carefully!
        The final result will give you the sig needed for the prescription you desire to give your patient.
    </p>
    <h2 class="text-danger">Warning please read below:</h2>
    <p>
        To anybody who stumbles upon this calculator and decides to use this:
    </p>
    <p>
        Please keep in mind that
        this was created by myself who is an amatuer web developer and professional medical provider by trade. The
        calculator and equation work and are accurate at this time.
        Unfortunately due to constant changes in the medical field there could be a lag with updating the calculator or
        keeping it up to date with recent changes and guidelines.
        Due to this I cannot guarantee the accuracy of this calculator. I am not responsible for any misuse,
        misunderstanding, accidents, damages, or any negative outcomes that occur due to the
        use of this calculator.
        I created this calculator for my own personal use in professional practice and therefore will maintain its
        accuracy to the best of my abilities and knowledge. The calculator is available to anybody
        who chooses to use this. I advise anybody using this to double check the accuracy of the calculator before
        writing a prescription.
        Please follow the steps highlighted in red if you wish to continue.
    </p>
    <h2 class="text-danger step">Step 1: Please choose the type of medication you will be using by clicking on that
        group of medications from the navigation menu above.</h2>
</div>